<!DOCTYPE html>
<html lang="ru" data-theme="dark">

<head>
    {% block script %}{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="general_content_holder">
        <h1>♞ Онлайн Шахматы ♘</h1>
        <p id="script-root">{{ (request.script_root|tojson|safe).replace('"', '') }}</p>
        {% if current_user.is_authenticated %}
        <h2 class="navbar-brand">👤 {{ current_user.name }}</h2>
        <div class="nav-buttons">
            <a class="btn btn-danger" href="/logout">Выйти</a>
        </div>
        {% endif %}
        <h4></h4>
        <div class="game">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>

</html>