{% extends "base.html" %}

{% block content %}
<div style="display: flex; flex-direction: column;">
    <h1>Начнем игру?</h1>
    <button id="random">Быстрая игра</button>
    <div>
        <label for="inp">Id игры</label><input type="number" id="inp" style="display: inline">
        <button id="connect" style="display: inline">Подключиться по id</button>
    </div>
    <button id="create">Создать игру с другом</button>
    <h3 id="enemy"></h3>
</div>
<script>
    function onclick_buttons(input) {
        if (input !== input.toString()) {
            $.ajaxSetup({
                async: false
            });
            $.getJSON(`/get_permission/${input}`, function (data) {
            }).done(function (data) {
                if (data.permission) {
                    window.location = document.getElementById('script-root').innerText + 'way_to_play/' + input;
                } else {
                    document.getElementById('enemy_nickname').innerText = 'Неверный Id игры'
                }
            }).fail(function (jqXHR, textStatus, err) {
                console.log('error: get_permission');
            });
        } else {
            window.location = document.getElementById('script-root').innerText + 'way_to_play/' + input;
        }
    }
    document.getElementById('random').onclick = () => onclick_buttons('random')
    document.getElementById('connect').onclick = () => onclick_buttons(document.getElementById('inp').value)
    document.getElementById('create').onclick = () => onclick_buttons('create')
</script>
{% endblock %}