.image-button {
    width: 30px;
    height: 30px;
    border: none;
    background-size: cover;
}
.board {
    display: grid;
    grid-template-rows: repeat(8, 30px);
    grid-template-columns: repeat(8, 30px);
    /*grid-gap: 1px;*/
}